/**
 * navigation
 */

.navbar {
    background-color: #A5A5A5;
    padding: 10px;
    text-align: right;
}

.navbar-choice {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: #ffffff;
}
